extends layout

block content
  .inner
    h2= title
    .map
      .autocomplete 
        input.autocomplete__input(type="text" placeholder="Busca algún lugar" name="geolocacion")
    #map 
      p Cargando Mapa...