extends layout 

block content
  .inner
    form.form(method="POST")
      h2 Reestablece tu contrase単a
      label(for="password") Nueva Contrase単a
      input(type="password" name="password")
      laber(for="confirmar-password") Confirmar Contrase単a
      input(type="password" name="confirmar-password")
      input.button(type="submit" value="Reestablecer Contrase単a")