extends layout 

include mixins/_tarjetaTienda
include mixins/_paginacion

block content
  .inner
    h2= title
    .stores
      each tienda in tiendas
        +tarjetaTienda(tienda)
    +paginacion(pag, paginas, conteo)